DATABASE_URL="mysql://root:YOUR_PASSWORD@localhost:3306/interview_trainer"
#Copy .env.example to create .env
#Set your MySQL password in DATABASE_URL
#Run `npm install` (as new packages have been added)
#Run `npx prisma migrate dev` (to create the tables)